<div >
<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" class="content-color" (scroll)="onScroll($event)">
    <div style="margin: 20px;">
        <form>
            <div class="container card-color" style="text-align: center;margin: 20px 20% 20%;">
                <div style="font-size: large;text-align: center;">
                    <label style="font-weight: bold;"><b>Contact Us</b></label><br><br>
                    <label><b>Reshmi Vyas</b></label><br><br>
                    <label><b>rashmi4uguys@gmail.com</b></label><br><br>
                    <label><b>+1 732 829 7178</b></label><br><br>
                </div>
            </div>
        </form>
    </div>
</article>
</div>