<div>
    <article [class.content]="!deviceXs" [class.content-mob]="deviceXs" class="content-color"
        (scroll)="onScroll($event)">
        <div *ngIf="!deviceXs">
            <form>
                <div class="container card-color curvedEdges mat-elevation-z8" style="text-align: center;margin: 20px 20% 20%;">
                    <div style="font-size: large;">
                        <label style="font-weight: bold;font-size: large;"><b>Contact Us</b></label><br><br>

                        <div class="row">
                            <div class="column">
                                <label style="float: right;font-size: medium;">Name: &nbsp;&nbsp;&nbsp;</label><br><br>
                                <label style="float: right;font-size: medium;">Email: &nbsp;&nbsp;&nbsp;</label><br><br>
                                <label style="float: right;font-size: medium;">Mobile:&nbsp;&nbsp;</label><br><br>
                                <label style="float: right;font-size: medium;">Address:</label><br><br>
                            </div>

                            <div class="column">
                                <label style="float: left;font-size: medium;">Reshmi Johar</label><br><br>
                                <label style="float: left;font-size: medium;">tastytreats@tastytreats-customcakes.com</label><br><br>
                                <label style="float: left;font-size: medium;">+1 7328297178</label><br><br>
                                <label style="float: left;font-size: medium;">22690 Heatherbrae Way, Novi, MI</label><br><br>
                            </div>
                        </div>

                    </div>

                    <div>
                        <a href="https://facebook.com/tastytreatscustomcakes" target="_blank"
                            style="margin-right: 30px;">
                            <img title="Facebook" alt="Facebook"
                                src="../../../assets/images/icons/icons8-facebook-240.png" width="35" height="35">
                        </a>

                        <!-- <a href="https://instagram.com/tastytreatscustomcakes" target="_blank"
                            style="margin-right: 30px;">
                            <img title="Instagram" alt="Instagram"
                                src="../../../assets/images/icons/icons8-instagram-240.png" width="35" height="35">
                        </a>
                        <a href="https://youtube.com/tastytreatscustomcakes" target="_blank"
                            style="margin-right: 30px;">
                            <img title="Instagram" alt="Instagram"
                                src="../../../assets/images/icons/icons8-youtube-256.png" width="35" height="35">
                        </a> -->

                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="deviceXs">
            <div class="container card-color curvedEdges mat-elevation-z8" style="margin: 5% 5% 5%; padding-left:10%;">
         
                <label style="font-size: medium;font-weight:bold;" class="uppercase">Reshmi Johar</label><br><br>
                <div style="margin-bottom: 10px;">
                    <label style="font-size: 14px;">tastytreats@tastytreats-customcakes.com</label>
                </div>
                <div style="margin-bottom: 10px;">
                    <label style="font-size: 14px;">22690 Heatherbrae Way, Novi, MI</label>
                </div>
                <div style="margin-bottom: 10px;">
                    <label style="font-size: 14px;">+1 (732) 829-7178</label>
                </div>

                <a href="https://facebook.com/tastytreatscustomcakes" target="_blank"
                            >
                            <img title="Facebook" alt="Facebook"
                                src="../../../assets/images/icons/icons8-facebook-240.png" width="35" height="35">
                        </a>
            </div>
        </div>
    </article>
</div>