<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" class="content-color" (scroll)="onScroll($event)">
    <form>
        <div class="container card-color" style="margin: 20px 20% 20%;">
            <div class="row">
                <div class="column" style="width: 40%;">
                    <img style="width: 360px; height: 360px;" src="../../../assets/images/profile/aboutprofile.jpg">
                </div>

                <div class="column" style="width: 60%;">
                    <label style="font-size: xx-large;">Reshmi Vyas</label>
                    <p style="font-size: medium; padding-top: 20px;text-align: justify;"><b></b> Bakers use their understanding of ingredients and food preparation to craft recipes and create baked goods. They measure and mix raw ingredients, bake and decorate items, and ensure that all raw and finished goods adhere to quality and food safety standards.
                        About Baker Rashmi Johar, She  is a passionate baker who everytime pulls her limits and delivers the best results. She is a Fashion designer by profession and did her leather specialization  from National Institute of Fashion Technology, Delhi , India. Baking was her hobby but she gradually became her passion and profession.</p><br><br>
                </div>
            </div>
                    
                
            </div>

        </form>
</article>