<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" class="content-color" (scroll)="onScroll($event)">
    <form>
        <div class="container card-color" style="text-align: center;margin: 20px 20% 20%;">
            <div style="font-size: large;">
                <p style="font-weight: bold;font-size: large;"><b></b>Tasty treats serves wide range of cakes in different flavours... It also offers yummilicious cupcakes and cake
                    pops.. tasty treats is a place where your search ends for mouth watering cakes in both the option eggless and
                    egg one..</p><br><br>
            </div>
        </div>
        </form>
    <p></p>
</article>